:root {
  --darkGrad: purple;
  --lightGrad: rgb(205, 129, 222);
  --bgColor1: rgb(58, 3, 58);
  --bgColor2: rgb(217, 98, 46);
  --bgColor3: darkslategrey;
  --darkText: black;
  --lightText: white;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground2);
  background-image: linear-gradient(var(--darkGrad), var(--lightGrad));
  font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  /* text-decoration: none; */
  font-weight: 600;
  padding: 0.4rem 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}

a:hover {
  color: orange;
}

p {
  margin: 1rem 0;
}

hr {
  margin: 0.5rem 0;
  border: 2px solid var(--bgColor2);
  filter: drop-shadow(0 1px 1px rgb(31, 2, 2));
}

.container {
  min-height: 100vh;
  max-width: 600px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.fancyText {
  background-image: linear-gradient(var(--lightText), var(--bgColor2));
  background-clip: text;
  color: transparent;
}

.toRight {
  float: right;
}

button,
a[role=button] {
  padding: 0.4rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid lightgray;
}

button:hover,
a[role=button]:hover {
  background-color: var(--bgColor2);
}

.darkButton {
  color: white;
  background-color: var(--bgColor1);
}

.lightButton {
  color: var(--darkText);
  background-color: var(--lightText);
}

.fancyButton {
  color: var(--darkText);
  background-color: orange;
  font-size: 0.8rem;
}

.vCentered {
  vertical-align: middle;
}

section {
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--lightGrad);
  border-radius: 10px;
  font-size: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fitToContent {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.darkMode {
  background-color: var(--bgColor1);
  color: var(--lightText);
}

.lightMode {
  background-color: var(--bgColor3);
  color: var(--darkText);
}

.listItem {
  line-height: 1.5;
  font-size: 0.9rem;
  list-style-type: square;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

.sideBySide {
  display: flex;
}

.imgShadow {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

label {
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  height: 1.6rem;
  padding: 0 0.4rem;
  background-color: var(--bgColor3);
  color: var(--lightText);
  width: 250px;
  border: 1px solid gray;
  font-size: 0.8rem;
}

.noteText {
  display: block;
  font-size: 0.7rem;
  padding: 0.2rem 0;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}